.fighter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
}
.life{
    width: 70vw;
    display: flex;
    justify-content: center;
}
.vs{
    position: absolute;
    height: 13vh;
    margin-top: -4vh;
    transform: rotate(-18deg);
}
.stadium{
    width: 70vw;
    height: 50vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.imgstadium{
    width: 70vw;
    height: 50vh;
    
}
.imgteclado{
    display: flex;
    align-self: flex-start;
    margin-left: 14vw;
    height: 16vh;
}
.noflip{
    width: 70vw;
    height: 50vh;
    position: absolute;
}
.flip{
    width: 70vw;
    height: 50vh;
    transform: scaleX(-1);
    position: absolute;
}
.lifespawn{
    width: 35vw;
    height: 5.5vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.charactersize{
    transition:ease-in-out;
}