.home2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
}
.contenedor{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}
.homeimage{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.game{
    width: 45vw;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.player1{
    width: 20vw;
    height: 100%;
    background-color: red;
}
.player1_image {
    justify-content: flex-end;
    align-items: flex-end;
    width: 20vw;
    height: 100%;
    background-color: red;
    display: flex;
}
.player2_image {
    justify-content: flex-end;
    align-items: flex-end;
    width: 20vw;
    height: 100%;
    background-color: green;
    display: flex;
    transform: rotatey(180deg);
}
.player2{
    width: 20vw;
    height: 100%;
    background-color: green;
}
.picker{
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 85vw;
    background-color: blueviolet;
}
.picksize{
    opacity: 100%;
    height: 11.3vh;;
    border: solid 3px transparent;
}
.picksize:hover{
    transition: ease-in-out;
    opacity: 100%;
    cursor: pointer;
    border: solid 3px red;
    
}
.player_info{
    padding: 1.5em;
}
.pose{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.pos_size{
    width: 20%;
}
.space{
    width: 50%;
    height: 100%;
    background-color: gray;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.player_size{
    height: 16vh;
    width: 6vw;
}
.fightbutton{
    position: absolute;
    justify-content: center;
    align-items: center;
}